html,body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	}

::-moz-selection{
    background: #d14836;
    color: #fff;
    }

::selection { 
    background: #d14836;
    color: #fff;
    } 

.clear {
	clear: both;
	}

.important {
	font-family: "museo-sans",Arial,sans-serif !important;
	font-weight: 700;
	}

.detail {
	font-size: 11px;
	}

input[type=text],textarea {
	border-radius: 3px;
	border: 1px solid #d9d9d9;
	font-family: "museo-sans",Arial,sans-serif;
	outline: none;
	font-size: 14px;
	color: #3c3c3c;
	font-weight: 500;
	letter-spacing: 1px;
	box-shadow: 0 1px 0 rgba(0,0,0, .15) inset;
	padding: 0 5px;
	}

input[type=text]:focus,textarea:focus {
	border-color: #b7b7b7;
	}

input[type=text] {
	height: 26px;
	position: relative;
	top: 1px;
	}

button {
	font-family: "Lucida Grande";
	text-align: center;
	border-radius: 2px;
	border: 1px solid #d9d9d9;
	background-image: -webkit-linear-gradient(#f8f8f8, #f1f1f1);
	background-image: linear-gradient(top, #f8f8f8 0%, #f1f1f1 100%);
	background-image: -moz-linear-gradient(top, #f8f8f8 0%, #f1f1f1 100%);
	background-image: -ms-linear-gradient(top, #f8f8f8 0%, #f1f1f1 100%);
	height: 28px;
	min-width: 28px;
	color: #3c3c3c;
	text-transform: uppercase;
	}

.inactive_tool {
	cursor: default !important;
	opacity: .3;
	}

button::-moz-focus-inner {
    padding: 0;
    border: 0
    }

.icon {
	padding: 0;
	}

button:hover {
	cursor: pointer;
	border-color: #c6c6c6;
	color: #1d1d1d;
	box-shadow: 0 1px 1px rgba(0,0,0, .1);
	}

button:active {
	box-shadow: 0 -1px 3px rgba(0,0,0, .2) inset;
	}

button.primary {
	border-color: #d14836;
	background-image: -webkit-linear-gradient(#d14836, #d04736);
	background-image: linear-gradient(top, #d14836 0%, #d04736 100%);
	background-image: -moz-linear-gradient(top, #d14836 0%, #d04736 100%);
	background-image: -ms-linear-gradient(top, #d14836 0%, #d04736 100%);
	color: #fff;
	padding: 1px 19px 0;
	text-shadow: 0 1px 0 #c04130;
	}

button.primary:hover {
	border-color: #b02521;
	background-image: -webkit-linear-gradient(#dd493f, #c5352d);
	background-image: linear-gradient(top, #dd493f 0%, #c5352d 100%);
	background-image: -moz-linear-gradient(top, #dd493f 0%, #c5352d 100%);
	background-image: -ms-linear-gradient(top, #dd493f 0%, #c5352d 100%);
	}

button.secondary {
	border-color: #357ae5;
	background-image: -webkit-linear-gradient(#5091f6, #4a88e6);
	background-image: linear-gradient(top, #5091f6 0%, #4a88e6 100%);
	background-image: -moz-linear-gradient(top, #5091f6 0%, #4a88e6 100%);
	background-image: -ms-linear-gradient(top, #5091f6 0%, #4a88e6 100%);
	min-width: 68px;
	padding: 1px 19px 0;
	color: #fff;
	text-shadow: 0 1px 0 #2d6ed2;
	}

button.secondary:hover {
	border-color: #315cb1;
	background-image: -webkit-linear-gradient(#5091f6, #397be0);
	background-image: linear-gradient(top, #5091f6 0%, #397be0 100%);
	background-image: -moz-linear-gradient(top, #5091f6 0%, #397be0 100%);
	background-image: -ms-linear-gradient(top, #5091f6 0%, #397be0 100%);
	}

button.disabled {
	color: #b5b5b5;
	padding: 1px 19px 0;
	}

button.disabled:hover, button.disabled:hover {
	cursor: default;
	border-color: #d9d9d9;
	box-shadow: none;
	}

/* Slide Menu Navigation */

#menu {
	width: 165px;
	text-align: center;
	}

#menu ul{
	margin: 15px 0;
	padding: 0;
	text-align: left;
	}

#menu li {
	font-family: Arial;
	font-size: 13px;
	line-height: 23px;
	color: #424242;
	border-left: 3px solid transparent;
	padding-left: 22px;
	list-style: none;
	}

#menu li.active {
	border-left-color: #d74936;
	color: #d74936;
	}

#menu li.hide {
	color: #b6b6b6;
	}

#menu li:hover {
	background-color: rgba(0,0,0, .04);
	cursor: pointer;
	}

#menu li.hide:hover{
	color: #757575;
	background-color: transparent;
	}

#show_menu {
	background-image: -webkit-linear-gradient(#f8f8f8, #f1f1f1);
	background-image: linear-gradient(top, #f8f8f8 0%, #f1f1f1 100%);
	background-image: -moz-linear-gradient(top, #f8f8f8 0%, #f1f1f1 100%);
	background-image: -ms-linear-gradient(top, #f8f8f8 0%, #f1f1f1 100%);
	margin: 0;
	display: none;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	}

/* TOOLBAR PROPERTIES */

nav {
	margin: 15px;
	}

.attr, .action {
	margin: 0;
	float: left;
	}

.grouped, .together {
	margin-right: 25px;
	float: left;
	}

.together {
	margin-right: 8px;
	}

.seperate .action {
	margin-right: 3px;
	}

.color_badge {
	height: 14px;
	width: 14px;
	background-color: #d74936;
	border: 1px solid #d9d9d9;
	box-shadow: 0 0 5px rgba(0,0,0, .1) inset;
	border-radius: 3px;
	margin: 0 auto;
	display: block;
	}

.grouped button {
	border-radius: 3px;
	}

.grouped .left {
	margin: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right-color: transparent;
	}

.grouped .center {
	margin: 0;
	border-radius: 0;
	}

.grouped .right {
	margin: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left-color: transparent;
	}

.grouped .right.pair {
	border-left-color: #d9d9d9;
	}

.grouped .active {
	background-color: #e8e8e8;
	background-image: none;
	box-shadow: 0 0 5px rgba(0,0,0, .15) inset;
	border-color: #ababab;
	}

/* Style Guide Properties */

#styleguide, #styleguide_close {
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	width: 200px;
	background-image: -webkit-linear-gradient(#f8f8f8, #f1f1f1);
	background-image: linear-gradient(top, #f8f8f8 0%, #f1f1f1 100%);
	background-image: -moz-linear-gradient(top, #f8f8f8 0%, #f1f1f1 100%);
	background-image: -ms-linear-gradient(top, #f8f8f8 0%, #f1f1f1 100%);
	}

#styleguide_close {
	border: none;
	background-image: none;
	right: 201px;
	width: 3px;
	border-right: 1px solid #d9d9d9;
	}

#styleguide_close:hover {
	cursor: e-resize;
	background-color: #d9d9d9;
	}

.closed_styleguide {
	width: 15px !important;
	background-color: #d9d9d9;
	}

.closed_styleguide:hover {
	cursor: w-resize !important;
	background-color: #3c3c3c !important;
	}

#styleguide ul {
	white-space: nowrap;
	margin: 0;
	padding: 0;
	list-style: none;
	color: #3c3c3c;
	font-size: 13px;
	font-family: "Lucida Grande";
	}

#styleguide li {
	padding: 5px;
	position: relative;
	}

#styleguide li:hover {
	cursor: pointer;
	background-color: rgba(0,0,0, .04);
	}

.style_icon {
	font-family: "museo-sans",Arial,sans-serif;
	font-weight: 700;
	position: relative;
	top: -1px;
	height: 12px;
	width: 14px;
	display: inline-block;
	text-align: center;
	font-size: 10px;
	padding-top: 2px;
	border: 1px solid #1ea135;
	color: #fff;
	border-radius: 3px;
	margin: 0 7px 0 0;
	text-shadow: 0 1px 0 #1ea135;
	background-image: -webkit-linear-gradient(#70d854, #1ea135);
	background-image: linear-gradient(top, #70d854 0%, #1ea135 100%);
	background-image: -moz-linear-gradient(top, #70d854 0%, #1ea135 100%);
	background-image: -ms-linear-gradient(top, #70d854 0%, #1ea135 100%);
	}

.inactive_style {
	opacity: .4;
	cursor: default !important;
	background-color: transparent !important;
	}

#styleguide li.active {

	background-color: rgba(0,0,0, .04);
	}

#styleguide li.active .style_icon {
	border-color: #d14836;
	background-image: -webkit-linear-gradient(#d14836, #d04736);
	background-image: linear-gradient(top, #d14836 0%, #d04736 100%);
	background-image: -moz-linear-gradient(top, #d14836 0%, #d04736 100%);
	background-image: -ms-linear-gradient(top, #d14836 0%, #d04736 100%);
	text-shadow: 0 1px 0 #c04130;
	}